<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Own your Traffic</title>

    <!-- AngularJs -->
    <script src="js/jquery/jquery-1.11.3.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

    <link href="css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid" ng-app="ngAppWdt" ng-strict-di>
        <div class="inner">
            <div class="right resolution-badge">
                <span class="label label-warning visible-xs">xs</span>
                <span class="label label-warning visible-sm">small</span>
                <span class="label label-warning visible-md">medium</span>
                <span class="label label-warning visible-lg">large</span>
            </div>
            <h1>
                Own<span class="brand-span" > <i class="fa fa-motorcycle"></i> your</span>Traffic
                <small>
                    Never be surprised by the unusual traffic load on your way to work. Configure your daily routes and be warned ahead.
                </small>
            </h1>

            <div class="" ng-controller="MainController">
                <div ng-repeat="(key, map) in maps">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="map-name hidden-xs" style="visibility: hidden;">
                                <i class="fa fa-{{map.mapIconFrom}} fa-2x"></i>
                                <i class="fa fa-long-arrow-right"></i>
                                <i class="fa fa-{{map.mapIconTo}} fa-2x"></i>
                                <div>{{ map.mapName }}</div>
                            </div>
                            <div class="map-name visible-xs" >
                                <i class="fa fa-{{map.mapIconFrom}} fa-2x"></i>
                                <i class="fa fa-long-arrow-right"></i>
                                <i class="fa fa-{{map.mapIconTo}} fa-2x"></i>
                                <div>{{ map.mapName }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-car fa-fw"></i>
                                            <span class="label label-success">{{ map.currentTime }} min</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-line-chart fa-fw"></i>
                                            <a href="#"> see route time weekly statistics</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-bar-chart fa-fw"></i> avarage route times:
                                            <ul class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-clock-o fa-fw"></i>
                                                    <span class="label label-info">23 min</span> Mon-Fri 7:20-8:00
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o fa-fw"></i>
                                                    <span class="label label-info">16 min</span> Mon-Fri 10:00-11:00
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-o fa-fw"></i>
                                            <a href="#"> see in google maps</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-edit fa-fw"></i>
                                            <a href="#"> edit this route info</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile fa-fw"></i>
                                            <a href="#"> configure notifications</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-road fa-fw"></i>
                                            <a href="#"> add alternative routes</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-share-alt fa-fw"></i>
                                            <a href="#"> share this route</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="map-name hidden-xs">
                                <i class="fa fa-{{map.mapIconFrom}} fa-2x"></i>
                                <i class="fa fa-long-arrow-right"></i>
                                <i class="fa fa-{{map.mapIconTo}} fa-2x"></i>
                                <div>{{ map.mapName }}</div>
                            </div>
                            <div class="wrapper">
                                <div class="h_iframe">
                                    <img class="ratio" src="img/ratio.png" />
                                    <iframe ng-src="{{map.mapUrl}}" width="600" height="600" frameborder="0" style="border:0" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="map-name">
                                <i class="fa fa-code-fork fa-2x"></i>
                                <div>alternative routes</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12" ng-repeat="(key, altMap) in map.alternatives">
                                        <div class="hidden-lg altmap">
                                            <i class="fa fa-map-o fa-2x"></i><br />
                                            <i class="fa fa-car"></i>
                                            <span class="label label-success">{{ altMap.currentTime }} min</span><br />
                                            {{altMap.mapName}}
                                        </div>
                                    <div class="visible-lg wrapper alternative">
                                        <div class="h_iframe">
                                            <img class="ratio" src="img/ratio.png" />
                                            <iframe ng-src="{{altMap.mapUrl}}" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            
        </div>

        

    </div>
    <footer>
        <div class="inner">
            <h2>
                Own<span class="brand-span"> <i class="fa fa-motorcycle"></i> your</span>Traffic
                <small>
                    Never be surprised by the unusual traffic load on your way to work. Configure your daily routes and be warned ahead.
                </small>
            </h2>
        </div>
    </footer>
</body>
</html>
